@font-face {
  font-family: 'Josefin Sans Light';
  src: url('../assets/fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Josefin Sans Regular';
  src: url('../assets/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Josefin Sans Semibold';
  src: url('../assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}