// colours
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

// gradients
$bg-grad: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$red-grad: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$red-active: linear-gradient(135deg,  hsl(0, 90%, 90%),  hsl(0, 80%, 86%));

// fonts
$font-light: 'Josefin Sans Light', serif;
$font-regular: 'Josefin Sans Regular', serif;
$font-semibold: 'Josefin Sans Semibold', serif;

// media sizes
$mobile: 375px;
$desktop: 1440px;
